{% extends 'base.html.twig' %}

{% block title %}Proveedor{% endblock %}

{% block body %}
    <h1>Proveedor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ proveedor.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ proveedor.nombre }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ proveedor.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ proveedor.email }}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{ proveedor.ciudad }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('proveedor_index') }}">back to list</a>

    <a href="{{ path('proveedor_edit', {'id': proveedor.id}) }}">edit</a>

    {{ include('proveedor/_delete_form.html.twig') }}
{% endblock %}
