{% extends 'base.html.twig' %}

{% block title %}Categoria index{% endblock %}

{% block body %}
    <h1>Categoria index</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
     {% for categoria in categorias %}
        <div class="col">
            <div class="card animated fadeIn fast">
                <img  "card-img-top img-fluid" src="{{ asset("images/" ~ categoria.imagen) }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{categoria.nombre}}</h5>
                    
                    

                   
                    <a href="{{ path('subcategoria_index', {'categoria': categoria.id}) }}">show</a>
                    
                     {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('categoria_edit', {'id': categoria.id}) }}">edit</a>
                    <a href="{{ path('categoria_delete', {'id': categoria.id}) }}">delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
                    
        {% else %}
            <h2>No hay productos</h2>
        {% endfor %}
    </div>
     {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('categoria_new') }}">Create new</a>
    {% endif %}
{% endblock %}
