{% extends 'base.html.twig' %}

{% block title %}ModoPago{% endblock %}

{% block body %}
    <h1>ModoPago</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modo_pago.id }}</td>
            </tr>
            
            <tr>
                <th>Ntarjeta</th>
                <td>{{ modo_pago.ntarjeta }}</td>
            </tr>
            <tr>
                <th>Cvc</th>
                <td>{{ modo_pago.cvc }}</td>
            </tr>
            <tr>
                <th>Caducidad</th>
                <td>{{ modo_pago.caducidadmes}} / {{modo_pago.caducidadano}}</td>
            </tr>
            <tr>
                <th>Propietario_tarjeta</th>
                <td>{{ modo_pago.propietarioTarjeta }}</td>
            </tr>
            <tr>
                <th>Cliente que la ha creado</th>
                <td>{{ modo_pago.cliente}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('modo_pago_index') }}">back to list</a>

    <a href="{{ path('modo_pago_edit', {'id': modo_pago.id}) }}">edit</a>

    {{ include('modo_pago/_delete_form.html.twig') }}
{% endblock %}
