{% extends 'base.html.twig' %}

{% block title %}Subcategoria index{% endblock %}

{% block body %}
    <h1>Subcategorias</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for subcategoria in subcategorias %}
                    <div class="card animated fadeIn fast">
                        <img src="{{ asset("images/" ~ subcategoria.imagen) }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{subcategoria.nombre}}</h5>
                            
                            

                        
                            <a href="{{ path('productos_subcategoria', {'subcategoria': subcategoria.id})}}">show</a>
                            
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('subcategoria_edit', {'id': subcategoria.id}) }}">edit</a>
                            {{ include('subcategoria/_delete_form.html.twig', {subcategorium: subcategoria} ) }}                            
                            {% endif %}
                        </div>
                    </div>
                            
                {% else %}
                    <h2>No hay productos</h2>
                {% endfor %}
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('subcategoria_new', {'categoria': categoria.id}) }}">Create new</a>
            {% endif %}
    </div>
   
{% endblock %}
